.book-detail {
  width: 100%;
  min-height: calc(100vh - 180px);
  position: relative;
}
.book-detail > h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}
.book-detail-body {
  display: flex;
  padding: 3rem 3rem;
}
.left {
  flex: 1 1 !important;
  display: flex;
  justify-content: center;
}
.left > img {
  width: 300px;
  height: auto;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
.right > span {
  font-size: 1.4rem;
  font-weight: 500;
  color: gray;
}
.right > h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.right > h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.right > p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
}
.input-div {
  display: flex;
  gap: 5px;
}
.input-div > button {
  background-color: #1976d2;
  border: none;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.input-div > input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  width: 50px;
  text-align: center;
}
.right > .description {
  font-size: 1rem;
  font-weight: 500;
}
.button-group {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
}
.button-group > button {
  padding: 10px;
  background-color: #1976d2;
  color: whitesmoke;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (max-width: 840px) {
  .book-detail {
    min-height: 100vh;
  }
  .book-detail-body {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .left > img {
    margin-left: 0 0;
    width: 240px;
  }
  .input-div {
    justify-content: center;
  }
  .button-group {
    justify-content: center;
  }
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 2vmax auto;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 1rem "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #1976d2;
}

.pageLinkActive {
  color: white;
}

.filterButton {
  position: absolute;
  top: 70px;
  left: -10px;
  z-index: 99;
}

.filterBox {
  width: 200px;
  height: fit-content;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  left: -10px;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  box-shadow: 4px 2px #9c9a9a;
  border-radius: 0 10px 10px 0;
}
ul {
  list-style-type: none;
  cursor: pointer;
  li {
    margin-top: 10px;
    text-transform: capitalize;
  }
}

.filterTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.closed {
  display: none;
}
