.card {
  cursor: pointer;
  margin: 0 auto;
}
.card:hover {
  scale: 1.05;
}
a {
  text-decoration: none;
  color: inherit;
}
.cardMedia {
  height: 218px;
  width: 235px;
  object-fit: contain !important;
}
