.register {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(133, 182, 224);
}
.register > .container {
  height: 380px;
  width: 540px;
}
.register > .container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5rem;
  background-color: rgb(227, 237, 234);
  box-shadow: 5px 5px 10px #575557;
  border-radius: 10px;
}
.register > .container > form > input {
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.register > .container > form > button {
  border: none;
  background-color: #9f2a84;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
